<template>
    <h1>Users</h1>
    <a route-href="route: userDetail; params.bind: { id: 'aaa/bbb' }">aaa</a>
    <a route-href="route: files; params.bind: { filePath: 'aaa/bbb' }">file</a>
</template>
