<template>
    <ul repeat.for="nav of router.navigation">
        <li class="${nav.isActive ? 'active' : ''}"><a href.bind="nav.href">${nav.title}</a></li>
    </ul>
    <router-view></router-view>
</template>
